.pdf{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}

iframe{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100vh;
    width: 60vw;
    background: none;
    border-radius: 20px;
}